# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
**/.dart_tool/
**/pubspec.lock
**/build/
.idea/
*.iml
*.cast
*.cast.gz
*.fail
*.diff
trace*.json
trace*.json.gz
debug.log
**/coverage/
*.py
parser.log
tmp/
**/.flutter-plugins-dependencies
**/ephemeral/
**/generated_plugin_registrant.*
**/generated_plugins.cmake
**/atlas_table_*.json
browser_trace*.json.gz
**/.DS_Store
