# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
**/.dart_tool/
**/pubspec.lock
**/build/
.idea/
*.iml
*.cast
*.cast.gz
trace*.json
trace*.json.gz
debug.log
**/coverage/
*.py
parser.log
tmp/
**/.flutter-plugins-dependencies
